
<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <h2 class="titular-back white-text center">Markers</h2>
    </div>
  </div>
</nav>

<div class="row">

  <div class="col s12 m6 l6" *ngFor="let favorito of favoritos">

    <!-- Se genera un objeto que se repita cuantas veces como elementos existan -->
    <!-- An object is created and will be repeated so many times as items in the list -->

    <div class="card card-back card-border z-depth-3 ">

      <div class="card-content blue-grey-text text-darken-4">

        <!-- Se muestran el título y la descripción -->
        <!-- Title and description are shown -->

        <span class="card-title orange-text text-darken-2"> {{ favorito.title }} </span>

        <p class="truncate"> {{ favorito.description }} </p>

      </div>

      <div class="card-action ">

        <!-- Links para ver detalles o eliminar elemento -->
        <!-- Links to see more details or delete items -->

        <a class="waves-effect waves-light z-depth-3 hoverable btn" [routerLink]="['/favorito', favorito._id]">See more</a>

        <a onclick="Materialize.toast('Deleted', 4000);" class="waves-effect waves-light red accent-2 z-depth-3 right hoverable btn" (click)="deleteFavorito(favorito._id)">Remove</a>

      </div>

    </div>

  </div>

</div>
